.App {
  text-align: center;
  background-color: #f7f9fd;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  background-color: #f7f9fd;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projectList {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #f7f9fd;
}

.projectItem {
  min-width: 800px;
  padding: 1em;
  display: flex;
  background-color: white;
  justify-content: space-around;
}

.projectDetail {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.projectImage {
  width: 2em;
  height: 2em;
}

.inputField {
  width: 80%;
}

.projectName {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  width: 40%;
  line-height: 30px;
  /* identical to box height, or 150% */


  color: rgba(0, 0, 0, 0.7);
}

.editButton {
  border: none;
}

.deleteButton {
  border: none;
}

.date {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
/* or 214% */


color: rgba(0, 0, 0, 0.5);
}

/* ... */

@media screen and (max-width: 600px) {
  .projectItem {
    flex-direction: column;
    min-width: none;
  }

  .projectDetail {
    width: 100%;
  }
}







.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #4a475f;
  border: none;
  padding: 0;
  border-radius: 100%;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {
  background-color: #3d3a4f;
}
